{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 160,
  "singleQuote": true,
  "arrayExpand": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true
}
