@import './variables.scss';

// EARTH DISCIPLINES
.Earth {
  background-color: $color--earth;
}
.Land {
  background-color: darkkhaki !important;
}
.Mountain {
  background-color: #b7950b !important;
}
.Grounding {
  background-color: #ba4a00 !important;
}
.Valor {
  background-color: #cb4335 !important;
}
.Tremorsight {
  background-color: #ab9478 !important;
}

// WATER DISCIPLINES
.Water {
  background-color: $color--water;
}
.Tide {
  background-color: #2471a3 !important;
}
.Tundra {
  background-color: #9cd4fa !important;
}

// WIND DISCIPLINES
.Wind {
  background-color: $color--wind;
}
.Gale {
  background-color: #8237c0 !important;
}
.Storm {
  background-color: #cebc1a !important;
}

// FLAME DISCIPLINES
.Flame {
  background-color: $color--flame;
}
.Blaze {
  background-color: #dd9844 !important;
}
.Explosion {
  background-color: #811304 !important;
}

// ARMOR DISCIPLINES
.Freedom {
  background-color: #fdca49;
}
.Juggernaut {
  background-color: #7398cc;
}
.Skirmisher {
  background-color: #bab86c;
}
.Shield_Master {
  background-color: grey;
}

// WEAPON DISCIPLINES
.Blademaster {
  background-color: #f75b5b;
}
.Lancer {
  background-color: #767cda;
}
.Martial_Artist {
  background-color: rgb(235, 158, 103);
}
.Sharpshooter {
  background-color: #bbd6fc;
}
.Thrower {
  background-color: #29a7bd;
}
.Warrior {
  background-color: #3b7a3e;
}

// WEAPON DISCIPLINES
