@import './variables.scss';

.Mutable-Terrain {
  background-color: rgb(100, 100, 100);
}
.Earth-Terrain {
  background-color: $color--earth;
}
.Electric-Terrain {
  background-color: #cebc1a;
}
.Elementless-Terrain {
  background-color: rgb(100, 100, 100);
}
.Flame-Terrain {
  background-color: $color--flame;
}
.Ice-Terrain {
  background-color: #9cd4fa;
}
.Special-Terrain {
  background-color: rgb(100, 100, 100);
}
.Water-Terrain {
  background-color: $color--water;
}
.Windy-Terrain {
  background-color: $color--wind;
}
.Wooden-Terrain {
  background-color: $color--wood;
}
