/** @format */

$font--standard: "Verdana";
$font--fancy: "MedievalSharp";
$font--nav: "Syne Tactile";

$color--strike: darkred;
$color--maneuver: darkblue;
$color--move: purple;
$color--defensive: darkgreen;
$color--support: gold;

$color--earth: #e0c068;
$color--flame: #f08030;
$color--metal: #b8b8d0;
$color--water: #6890f0;
$color--wind: #a890f0;
$color--wood: #78c850;

$color--blade: #f75b5b;
$color--blunt: #3b7a3e;
$color--polearm: #767cda;
$color--ranged: #929294;
$color--unarmed: #e2a66e;
$color--chain: #bdae2a;

$color--tank: lightyellow;
$color--support: lightyellow;

$color--parchment: #ece6dc;
$color--off-white: #f0f0f0;
$color--nav: #990000;

$color--grey-light: #dbd9d9e3;

$color--chart-header: #868583;
$color--chart-miss: #f85050;
$color--chart-graze: #e6c92a;
$color--chart-hit: #8cf563;
$color--chart-crit: #ca6fff;

$border--black-thin: 1px solid black;
$border--black-standard: 2px solid black;
$border--clear-standard: 2px solid clear;

$font-size--title: 2.5em;
$font-size--l: 1.25em;
$font-size--m: 1em;
$font-size--s: 0.75em;

$space--base: 2em;
$space--m: 1em;
$space--s: 0.75em;
$space--xs: 0.5em;
$space--xxs: 0.25em;

.page--header {
  text-align: left;
  font-size: 4em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--title {
  text-align: center;
  font-size: 3em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--sub-title {
  text-align: center;
  font-size: 2em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--description {
  text-align: center;
  font-size: 1em;
  font-family: $font--standard;
}

.dropdown--light {
  background: lightcyan;
  width: 100%;
}

.Earth {
  background-color: $color--earth;
}
.Flame {
  background-color: $color--flame;
}
.Metal {
  background-color: $color--metal;
}
.Water {
  background-color: $color--water;
}
.Wind {
  background-color: $color--wind;
}
.Wood {
  background-color: $color--wood;
}

.Blade {
  background-color: $color--blade;
}
.Blunt {
  background-color: $color--blunt;
}
.Polearm {
  background-color: $color--polearm;
}
.Ranged {
  background-color: $color--ranged;
}
.Unarmed {
  background-color: $color--unarmed;
}
.Chain {
  background-color: $color--chain;
}
