$tooltip-padding: 0;

$font--standard: 'Antic';
$font--fancy: 'MedievalSharp', cursive;
$font--nav: 'Syne Tactile';

$color--strike: rgb(148, 50, 50);
$color--general: rgb(90, 90, 143);
$color--move: rgb(131, 42, 131);
$color--defend: rgb(40, 104, 40);
$color--support: gold;

$color--earth: #e0c068;
$color--flame: #f08030;
$color--metal: #b8b8d0;
$color--water: #6890f0;
$color--wind: #a890f0;
$color--wood: #78c850;

$color--blade: FireBrick;
$color--blunt: darkgreen;
$color--lance: #657ea0;
$color--ranged: #929294;
$color--unarmed: chocolate;
$color--improvised: #81674c;
$color--chain: #bdae2a;
$color--shield: thistle;

$color--background: rgb(131, 130, 130);
$color--light-parchment: #b69e75;
$color--parchment: #85704c;
$color--off-white: #f0f0f0;
$color--button-outline: #e7a324;

$color--grey-light: #dbd9d9e3;
$color--grey-lighter: #e9e9e9e3;

$color--chart: #afc4fa;
$color--chart-transparent: #afc4fa7e;
$color--maneuver: #affabf;
$color--maneuver-transparent: #affabf77;
$color--reaction: #fae5af;
$color--reaction-transparent: #fae5af71;

$color--chart-header: #868583;
$color--chart-miss: #f85050;
$color--chart-graze: #e6c92a;
$color--chart-hit: #8cf563;
$color--chart-crit: #ca6fff;

$border--black-thin: 1px solid black;
$border--black-standard: 2px solid black;
$border--clear-standard: 2px solid clear;

$font-size--title: 2.5em;
$font-size--l: 1.25em;
$font-size--m: 1em;

$space--base: 2em;
$space--m: 1em;
$space--s: 0.75em;
$space--xs: 0.5em;
$space--xxs: 0.25em;

::v-deep h1 {
  text-align: left;
  font-size: 4em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
}
::v-deep h2 {
  text-align: center;
  font-size: 3em;
  font-family: $font--fancy;
  font-style: normal;
}
::v-deep h3 {
  text-align: left;
  font-size: 2em;
  font-family: $font--fancy;
  font-style: normal;
}
::v-deep h4 {
  text-align: center;
  font-size: 1.5em;
  font-family: $font--fancy;
}

::v-deep p {
  margin-bottom: 0px !important;
  white-space: pre-line;
  font-family: $font--standard;
  line-height: 1.2;
}

::v-deep ul {
  font-family: $font--standard;
  line-height: 1.2;
}

::v-deep li {
  font-family: $font--standard;
  line-height: 1.4;
}

.v-expansion-panels.condensed .v-expansion-panel-header {
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: auto;
}
.v-expansion-panels.condensed .v-expansion-panel--active .v-expansion-panel-header {
  padding-top: 8px;
  padding-bottom: 8px;
}
.v-expansion-panels.condensed .v-expansion-panel--active:not(:first-child),
.v-expansion-panels.condensed .v-expansion-panel--active + .v-expansion-panel {
  margin-top: 4px;
}
.v-expansion-panels.condensed .v-expansion-panel-content__wrap {
  padding-left: 0px;
  padding-right: 0px;
}

.page {
  background: $color--background;
}
.page--header {
  text-align: left;
  font-size: 1em;
  font-family: $font--standard;
  padding: none;
}

.page--description {
  text-align: center;
  font-size: 1em;
  font-family: $font--standard;
  padding: none;
}

.dropdown--light {
  background: lightcyan;
  width: 100%;
}

.chart--wrapper {
  text-align: center;
  text-justify: center;
  position: relative;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
.chart--row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart--head {
  border: $border--black-thin;
  background-color: $color--chart-header;
}
.chart--head-right {
  border-left: none;
}
.chart--cols {
  border: $border--black-thin;
  border-top: none;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  background-color: $color--off-white;
}
.chart--cols-right {
  border-left: none;
}
.dotted {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
.expand--collapse-box-outlined {
  border: $border--black-thin;
  height: 100%;
}
.expand--header-reaction {
  background-image: linear-gradient($color--reaction 0 0);
  font-weight: bold;
  font-size: 1em;
}
.expand--body-reaction {
  background-image: linear-gradient($color--reaction-transparent 0 0);
}
.expand--header-chart {
  background-image: linear-gradient($color--chart 0 0);
  font-weight: bold;
  font-size: 1em;
}
.expand--body-chart {
  background-image: linear-gradient($color--chart-transparent 0 0);
}
.expand--header-maneuver {
  background-image: linear-gradient($color--maneuver 0 0);
  font-weight: bold;
  font-size: 1em;
}
.expand--body-maneuver {
  background-image: linear-gradient($color--maneuver-transparent 0 0);
}

.selected--box {
  border-top: $border--black-standard;
  border-right: $border--black-standard;
  border-bottom: $border--black-standard;
}
.selecting--box {
  border-top: $border--black-standard;
  border-bottom: $border--black-standard;
}

.centered--formatted {
  text-align: center;
  justify-content: center;
}
.sidebar {
  background: $color--light-parchment;
  padding: 0px;
  border-top: 0.5em double black;
  border-right: 0.5em double black;
  border-bottom: 0.5em double black;
  align-content: center;
  justify-content: center;
  height: 70vh;
  overflow-y: auto;
}
.background--color {
  background: $color--background !important;
}
.v-btn-toggle {
  flex-direction: column;
}
.v-btn {
  white-space: normal;
  align-content: center;
}
.button--style {
  background: $color--light-parchment !important;
  word-wrap: break-word;
  width: 100%;
  justify-content: left !important;
}
.image--icon-size {
  height: 2em;
}

// Spirit color classes.
.Earth {
  background-color: $color--earth;
}
.Flame {
  background-color: $color--flame;
}
.Metal {
  background-color: $color--metal;
}
.Water {
  background-color: $color--water;
}
.Wind {
  background-color: $color--wind;
}
.Wood {
  background-color: $color--wood;
}
