$tooltip-padding: 0;

$font--standard: 'Antic';
$font--fancy: 'MedievalSharp', cursive;
$font--nav: 'Syne Tactile';

$color--strike: rgb(148, 50, 50);
$color--general: rgb(90, 90, 143);
$color--move: rgb(131, 42, 131);
$color--defend: rgb(40, 104, 40);
$color--support: gold;

$color--earth: #e0c068;
$color--flame: #f08030;
$color--metal: #b8b8d0;
$color--water: #6890f0;
$color--wind: #a890f0;
$color--wood: #6a5003;

$color--blade: FireBrick;
$color--blunt: darkgreen;
$color--lance: #657ea0;
$color--ranged: #929294;
$color--unarmed: chocolate;
$color--improvised: #81674c;
$color--chain: #bdae2a;
$color--shield: thistle;
$color--stance: thistle;

$color--background: rgb(131, 130, 130);
$color--light-parchment: #b69e75;
$color--parchment: #85704c;
$color--off-white: #f0f0f0;
$color--button-outline: #e7a324;

$color--grey-dark: #838181e3;
$color--grey-light: #dbd9d9e3;
$color--grey-lighter: #e9e9e9e3;

$color--chart: #afc4fa;
$color--chart-transparent: #afc4fa7e;
$color--maneuver: #affabf;
$color--maneuver-transparent: #affabf77;
$color--reaction: #fae5af;
$color--reaction-transparent: #fae5af71;

$color--chart-header: #868583;
$color--chart-miss: #f85050ce;
$color--chart-graze: #e6c92ace;
$color--chart-hit: #8cf563ce;
$color--chart-crit: #ca6fffce;

$border--black-thin: 1px solid black;
$border--black-standard: 2px solid black;
$border--clear-standard: 2px solid clear;

$font-size--title: 2.5em;
$font-size--l: 1.25em;
$font-size--m: 1em;

$space--base: 2em;
$space--m: 1em;
$space--s: 0.75em;
$space--xs: 0.5em;
$space--xxs: 0.25em;

.Archetype {
  background-color: rgb(106, 168, 76);
}
.Trait {
  background-color: rgb(106, 168, 76);
}
.Art {
  background-color: $color--general;
}
.Equipment {
  background-color: #a776a0;
}
.Talent {
  background-color: rgb(106, 168, 76);
}
.Weapon {
  background-color: rgb(226, 119, 43);
}
.Skill {
  background-color: #d99a07;
}
.Power {
  background-color: #d2d50e;
}
.Passive {
  background-color: #68696a;
}
.Maneuver {
  background-color: #7ac3ff;
}
.Reaction {
  background-color: #bbcc6f;
}
.Gambit {
  background-color: #a776a0;
}
.Attack {
  background-color: rgb(230, 95, 95);
}
.Default {
  background-color: #a0b7d8 !important;
}

::v-deep h1 {
  text-align: left;
  font-size: 4em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
}
::v-deep h2 {
  text-align: center;
  font-size: 3em;
  font-family: $font--fancy;
  font-style: normal;
}
::v-deep h3 {
  text-align: left;
  font-size: 2em;
  font-family: $font--fancy;
  font-style: normal;
}
::v-deep h4 {
  text-align: center;
  font-size: 1.5em;
  font-family: $font--fancy;
}
::v-deep h5 {
  font-size: 1.05em;
}

::v-deep p {
  margin-bottom: 0px !important;
  white-space: pre-line;
  font-family: inherit;
  line-height: 1.2;
}

::v-deep ul {
  font-family: $font--standard;
  line-height: 1.2;
}

::v-deep li {
  font-family: $font--standard;
  line-height: 1.4;
}

.theme--light.v-tabs > .v-tabs-bar {
  background-color: $color--light-parchment !important;
  color: black;
}

.theme--dark.v-tabs > .v-tabs-bar {
  background-color: $color--parchment !important;
  color: black;
}

.v-tab {
  color: black !important;
}

.character-tab-content {
  background-color: $color--grey-light !important;
  padding: 1em;
  border-bottom: $border--black-standard;
  border-left: $border--black-standard;
}

.character-tab-content-background {
  background-color: $color--grey-light !important;
}

.v-expansion-panels.condensed .v-expansion-panel-header {
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: auto;
}
.v-expansion-panels.condensed .v-expansion-panel--active .v-expansion-panel-header {
  padding-top: 8px;
  padding-bottom: 8px;
}
.v-expansion-panels.condensed .v-expansion-panel--active:not(:first-child),
.v-expansion-panels.condensed .v-expansion-panel--active + .v-expansion-panel {
  margin-top: 4px;
}
.v-expansion-panels.condensed .v-expansion-panel-content__wrap {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.page {
  background: $color--background;
}
.ability--head {
  border-top-left-radius: 1em;
  border: $border--black-standard;
  padding-left: 0.5em;
  font-size: 1.05em;
  height: 2em;
  font-weight: bold;
  display: flex;
  align-items: center; /* Vertically centers the content */
}
.page--header {
  text-align: left;
  font-size: 1em;
  font-family: $font--standard;
  padding: none;
}

.page--description {
  text-align: center;
  font-size: 1em;
  font-family: $font--standard;
  padding: none;
}

.keyword--box {
  border-radius: 6px !important;
  border: $border--black-thin;
  padding: 0.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-size: 1em !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.desc--box {
  border-top: $border--black-thin;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-top: auto;
  padding: $space--xs;
  display: flex; /* defines flexbox */
  align-items: flex-end; /* bottom of the box */
}
.ability-box {
  padding-top: $space--xs;
}

.card--color-header {
  background-color: $color--grey-dark;
}
.card--wrapper {
  font-family: $font--standard;
  background-color: $color--grey-lighter;
  border: $border--black-standard;
  display: flex; /* defines flexbox */
  flex-direction: column; /* top to bottom */
}
.card--type {
  font-family: $font--fancy !important;
}
.card--header {
  padding-top: $space--xs;
  height: 100%;
  text-align: center;
  color: black;
}
.card--underline-top {
  border-bottom: 5px solid black;
}
.card--keywords {
  font-size: $font-size--m;
  color: black;
}
.widget--content {
  color: black;
  padding: $space--xs;
  padding-left: 4em;
}
.card--content {
  color: black;
  padding: $space--xs;
}
.card--text-format {
  font-size: $font-size--m;
}
.card--format {
  font-family: $font--standard;
  padding: none;
  margin-bottom: 0.25em;
  text-align: left;
  color: black;
  white-space: normal !important;
}

.creature-tab-content {
  background-color: $color--grey-light !important;
  padding: 1em;
}

.image--header-left {
  height: 3em;
  float: left;
  margin: 1em;
}
.image--header-right {
  height: 3em;
  float: right;
  transform: scaleX(-1);
  margin: 1em;
}

.image--left {
  float: left;
}
.image--right {
  float: right;
  transform: scaleX(-1);
}

.dropdown--light {
  background: lightcyan;
  width: 100%;
}

.chart--wrapper {
  text-align: center;
  text-justify: center;
  position: relative;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
.chart--row {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.chart--head {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  border: $border--black-thin;
  background-color: $color--chart-header;
  font-weight: bold;
}
.chart--head-right {
  border-left: none;
}
.chart--cols {
  border: $border--black-thin;
  border-top: none;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  background-color: $color--off-white;
}
.chart--cols-right {
  border-left: none;
}
.dotted {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
.expand--collapse-box-outlined {
  margin: 0.5em;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.expand--header-reaction {
  background-image: linear-gradient($color--reaction 0 0);
  font-weight: bold;
  font-size: 1em;
}
.expand--body-reaction {
  background-image: linear-gradient($color--reaction-transparent 0 0);
}
.expand--header-chart {
  background-image: linear-gradient($color--chart 0 0);
  font-weight: bold;
  font-size: 1em;
  border: $border--black-thin;
}
.expand--body-chart {
  background-image: linear-gradient($color--chart-transparent 0 0);
  border: $border--black-thin;
  border-top: none;
}
.expand--header-maneuver {
  background-image: linear-gradient($color--maneuver 0 0);
  font-weight: bold;
  font-size: 1em;
}
.expand--body-maneuver {
  background-image: linear-gradient($color--maneuver-transparent 0 0);
}

.selected--box {
  border-top: $border--black-standard;
  border-right: $border--black-standard;
  border-bottom: $border--black-standard;
}
.selecting--box {
  border-top: $border--black-standard;
  border-bottom: $border--black-standard;
}

.centered--formatted {
  text-align: center;
  justify-content: center;
}
.sidebar {
  background: $color--light-parchment;
  padding: 0px;
  border-top: 0.5em double black;
  border-right: 0.5em double black;
  border-bottom: 0.5em double black;
  align-content: top;
  justify-content: center;
  height: 70vh;
  overflow-y: auto;
}
.sidebar--enclosed {
  @extend .sidebar;
  border-left: 0.5em double black;
  margin-left: 1em;
}

.selected--item {
  border: 0.5em double black;
  background: $color--light-parchment !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.background--color {
  background: $color--background !important;
}
.v-btn-toggle {
  flex-direction: column;
}
.v-btn {
  white-space: normal;
  align-content: center;
}
.button--style {
  background: $color--light-parchment !important;
  word-wrap: break-word;
  width: 100%;
  justify-content: left !important;
}
.image--icon-size {
  height: 2em;
  padding-right: 0.5em;
}

.centered-single {
  justify-content: center;
  margin: auto;
  width: 33.33%;
}
.centered-duo {
  justify-content: center;
  margin: auto;
  width: 66.66%;
}

// Spirit color categoryes.
.Earth {
  background-color: $color--earth;
}
.Metal {
  background-color: $color--metal;
}
.Water {
  background-color: $color--water;
}
.Wood {
  background-color: $color--wood;
}
