$font--standard: "Verdana";
$font--fancy: "MedievalSharp";
$font--nav: "Syne Tactile";

$color--strike: darkred;
$color--maneuver: darkblue;
$color--move: purple;
$color--defensive: darkgreen;
$color--support: gold;

$color--earth: rgb(138, 224, 145);

$color--tank: lightyellow;
$color--support: lightyellow;

$color--parchment: #ece6dc;
$color--off-white: #f0f0f0;
$color--nav: #990000;

$color--grey-light: #dbd9d9e3;

$color--chart-header: #868583;
$color--chart-miss: #f85050;
$color--chart-graze: #e6c92a;
$color--chart-hit: #8cf563;
$color--chart-crit: #ca6fff;

$border--black-thin: 1px solid black;
$border--black-standard: 2px solid black;
$border--clear-standard: 2px solid clear;

$font-size--title: 2.5em;
$font-size--l: 1.25em;
$font-size--m: 1em;
$font-size--s: 0.75em;

$space--base: 2em;
$space--m: 1em;
$space--s: 0.75em;
$space--xs: 0.5em;
$space--xxs: 0.25em;

.page--header {
  text-align: left;
  font-size: 4em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--title {
  text-align: center;
  font-size: 3em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--sub-title {
  text-align: center;
  font-size: 2em;
  font-family: $font--fancy;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.page--description {
  text-align: center;
  font-size: 1em;
  font-family: $font--standard;
}

.dropdown--light {
  background: lightcyan;
  width: 100%;
}
