@import './variables.scss';

.Bladed {
  background-color: $color--blade !important;
}
.Bladed-Header {
  background-color: #f75b5b;
}
.Hafted {
  background-color: $color--blunt !important;
}
.Hafted-Header {
  background-color: #4f8a52;
}
.Pole {
  background-color: $color--lance !important;
}
.Pole-Header {
  background-color: #767cda;
}
.Projectile {
  background-color: #a0b7d8 !important;
}
.Projectile-Header {
  background-color: #bbd6fc;
}
.Throwing {
  background-color: #22899b !important;
}
.Throwing-Header {
  background-color: #45b6ca;
}
.Unarmed {
  background-color: $color--unarmed;
}
.Unarmed-Header {
  background-color: #e2a66e;
}
.Improvised {
  background-color: $color--improvised;
}
.Improvised-Header {
  background-color: #a78562;
}
.Chain {
  background-color: $color--chain;
}
.Shield {
  background-color: $color--shield !important;
}
.Shield-Header {
  background-color: #9d67b6;
}
.Natural {
  background-color: #4f8a52;
}
